#subscribe-field-discount .bg {
    background-image: url('./sections/subscription/subscribe-field-discount/images/bg-5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.25;
}