#testimonials-single {
    background: #222222;
}

#testimonials-single .bg {
    background-image: url('./sections/testimonials/testimonials-single/images/bg-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}