#clients-line {
    background: radial-gradient(circle, #653E23 30%, #4E2D18 70%);
    background: -webkit-radial-gradient(circle, #653E23 30%, #4E2D18 70%);
}

#clients-line .bg {
    background-image: url('./sections/clients/clients-line/images/title-bg-clients.png');
    background-size: 578px auto;
    -webkit-background-size: 578px auto;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.15;
}