#header-center-slogan-form {
    background: #e9fbff;
}

#header-center-slogan-form .bg {
    background-image: url('./sections/headers/header-center-slogan-form/images/bg-pattern-1.png');
    background-size: 300px auto;
    -webkit-background-size: 300px auto;
    background-repeat: repeat;
    -webkit-background-repeat: repeat;
    background-position: center center;
    opacity: 0.05;
}