@font-face {
    font-family: 'suprafont';
    src: url('../fonts/suprafont.eot?mvps1a');
    src: url('../fonts/suprafont.eot?mvps1a#iefix') format('embedded-opentype'), url('../fonts/suprafont.ttf?mvps1a') format('truetype'), url('../fonts/suprafont.woff?mvps1a') format('woff'), url('../fonts/suprafont.svg?mvps1a#suprafont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'suprafont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-chevron-down-small:before {
  content: "\e907";
}
.icon-chevron-left-small:before {
  content: "\e908";
}
.icon-chevron-right-small:before {
  content: "\e909";
}
.icon-chevron-up-small:before {
  content: "\e90a";
}
.icon-check2:before {
  content: "\e116";
}
.icon-h1:before {
  content: "\e903";
}
.icon-h2:before {
  content: "\e904";
}
.icon-h3:before {
  content: "\e905";
}
.icon-h4:before {
  content: "\e906";
}
.icon-edit-mode:before {
  content: "\e901";
}
.icon-section-bg:before {
  content: "\e900";
}
.icon-typography:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e60d";
}
.icon-pencil5:before {
  content: "\e613";
}
.icon-texture:before {
  content: "\e624";
}
.icon-trash2:before {
  content: "\e681";
}
.icon-envelope:before {
  content: "\e696";
}
.icon-envelope-open:before {
  content: "\e697";
}
.icon-floppy-disk:before {
  content: "\e6ae";
}
.icon-file-empty:before {
  content: "\e6b3";
}
.icon-file-add:before {
  content: "\e6b4";
}
.icon-file-check:before {
  content: "\e6b5";
}
.icon-files:before {
  content: "\e6b7";
}
.icon-copy:before {
  content: "\e6b8";
}
.icon-folder:before {
  content: "\e6ba";
}
.icon-folder-plus:before {
  content: "\e6bc";
}
.icon-folder-minus:before {
  content: "\e6bd";
}
.icon-folder-download:before {
  content: "\e6be";
}
.icon-folder-upload:before {
  content: "\e6bf";
}
.icon-folder-music:before {
  content: "\e6c4";
}
.icon-folder-picture:before {
  content: "\e6c5";
}
.icon-folder-film:before {
  content: "\e6c6";
}
.icon-clipboard-check:before {
  content: "\e6cc";
}
.icon-clipboard-alert:before {
  content: "\e6cf";
}
.icon-equalizer:before {
  content: "\e6f2";
}
.icon-play:before {
  content: "\e6f7";
}
.icon-clapboard-play:before {
  content: "\e6f9";
}
.icon-picture:before {
  content: "\e70e";
}
.icon-cart:before {
  content: "\e74d";
}
.icon-cart-full:before {
  content: "\e74f";
}
.icon-cart-plus:before {
  content: "\e750";
}
.icon-cart-add:before {
  content: "\e752";
}
.icon-map-marker:before {
  content: "\e77a";
}
.icon-map:before {
  content: "\e781";
}
.icon-map2:before {
  content: "\e782";
}
.icon-screen:before {
  content: "\e798";
}
.icon-phone:before {
  content: "\e7a5";
}
.icon-tablet:before {
  content: "\e7ab";
}
.icon-laptop-phone:before {
  content: "\e7ae";
}
.icon-desktop:before {
  content: "\e7af";
}
.icon-window:before {
  content: "\e7b2";
}
.icon-icons:before {
  content: "\e87e";
}
.icon-icons2:before {
  content: "\e880";
}
.icon-site-map:before {
  content: "\e883";
}
.icon-undo:before {
  content: "\e8d5";
}
.icon-redo:before {
  content: "\e8d6";
}
.icon-redo2:before {
  content: "\e8d9";
}
.icon-file-zip:before {
  content: "\e90e";
}
.icon-link2:before {
  content: "\e917";
}
.icon-unlink2:before {
  content: "\e918";
}
.icon-zoom-in:before {
  content: "\e925";
}
.icon-check:before {
  content: "\e934";
}
.icon-cross2:before {
  content: "\e935";
}
.icon-plus:before {
  content: "\e936";
}
.icon-minus:before {
  content: "\e937";
}
.icon-arrow-up:before {
  content: "\e941";
}
.icon-arrow-down:before {
  content: "\e942";
}
.icon-arrow-left:before {
  content: "\e943";
}
.icon-arrow-right:before {
  content: "\e944";
}
.icon-expand:before {
  content: "\e94a";
}
.icon-move:before {
  content: "\e94e";
}
.icon-plus-square:before {
  content: "\e98e";
}
.icon-text-format:before {
  content: "\e9a0";
}
.icon-text-format-remove:before {
  content: "\e9a1";
}
.icon-text-size:before {
  content: "\e9a2";
}
.icon-bold:before {
  content: "\e9a3";
}
.icon-italic:before {
  content: "\e9a4";
}
.icon-underline:before {
  content: "\e9a5";
}
.icon-strikethrough:before {
  content: "\e9a6";
}
.icon-highlight:before {
  content: "\e9a7";
}
.icon-text-align-left:before {
  content: "\e9a8";
}
.icon-text-align-center:before {
  content: "\e9a9";
}
.icon-text-align-right:before {
  content: "\e9aa";
}
.icon-text-align-justify:before {
  content: "\e9ab";
}
.icon-page-break:before {
  content: "\e9b3";
}

