#header-slogan-modal-2 .bg {
    background-image: url('./sections/headers/header-slogan-modal-2/images/bg-7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:1;
}