#contact-center-form-2 .bg {
	background-image: url('./sections/contacts/contact-center-form-2/images/bg-scene-1.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: bottom center;
	opacity: 1;
}