#testimonials-carousel-single .bg {
    background-image: url('./sections/testimonials/testimonials-carousel-single/images/bg-5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.25;
}