#price-single{
    background: #e9fbff;
}

#price-single .bg {
    background-image: url('./sections/prices/price-single/images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.2;
}