#testimonials-carousel-single-3 .bg {
    background-image: url('./sections/testimonials/testimonials-carousel-single-3/images/bg-18.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.40;
}