#header-halfbg-slogan .half-container-left {
    background-image: url('./sections/headers/header-halfbg-slogan/images/doctor.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}